html {
  scroll-behavior: smooth;
}

body {
  font-family: Biotif;
  font-weight: 400;
  font-feature-settings: "ss91", "ss02";
}

.bg-gradient-home {
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-home.jpeg") var(--light-grey-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-about-header {
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-about-header.jpeg")
      var(--secondary-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-about-closing {
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-about-closing.jpeg")
      var(--primary-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-organization {
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-organization.jpeg")
      var(--light-grey-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-project {
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-project.jpeg") var(--dark-blue-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-dark-blue {
  background-color: var(--dark-blue-color);
}

.bg-primary {
  background-color: var(--primary-background-color);
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.bg-branding-primary {
  background-color: var(--primary-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
}
