body {
  font-family: Biotif;
  font-weight: 400;
}

.bg-gradient-1 {
  background: url("/assets/images/gradients/gradient-1.png") lightgray no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-gradient-2 {
  background: url("/assets/images/gradients/gradient-2.png") lightgray no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-gradient-3 {
  background: url("/assets/images/gradients/gradient-3.png") lightgray no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-gradient-4 {
  background: url("/assets/images/gradients/gradient-4.png") lightgray no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-gradient-5 {
  background: url("/assets/images/gradients/gradient-5.png") lightgray no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-dark-blue {
  background-color: var(--dark-blue-color);
}

.bg-primary {
  background-color: var(--primary-background-color);
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
}
