html {
  scroll-behavior: smooth;
}

body {
  font-family: Biotif;
  font-weight: 300;
  font-feature-settings: "ss91", "ss02";
  color: var(--primary-text-color);
}

.bg-gradient-home {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-home.jpg") var(--light-grey-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-about-header {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-about-header.jpg") var(--secondary-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-agreement-header {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-agreement-header.jpg") var(--light-grey-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-about-closing {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-about-closing.jpg") var(--primary-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-organization {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-organization.jpg") var(--light-grey-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-blog {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-blog.jpg") var(--dark-blue-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-gradient-project {
  overflow: hidden;
  background:
    url("/assets/images/gradients/noise.png"),
    url("/assets/images/gradients/gradient-project.jpg") var(--dark-blue-color);
  background-size: auto, cover;
  background-position: center center;
  background-repeat: repeat, no-repeat;
}

.bg-linear-gradient-dark-blue {
  overflow: hidden;
  background: linear-gradient(180deg, #09293b 21.38%, #18bcf2 151.43%);
}

.bg-dark-blue {
  overflow: hidden;
  background-color: var(--dark-blue-color);
}

.bg-primary {
  overflow: hidden;
  background-color: var(--primary-background-color);
}

.bg-secondary {
  overflow: hidden;
  background-color: var(--secondary-background-color);
}

.bg-branding-primary {
  overflow: hidden;
  background-color: var(--primary-color);
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
}