h1 {
  font-family: Biotif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  font-family: Biotif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-center {
  text-align: center;
}
