h1 {
  font-family: Biotif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-family: Biotif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: inherit;
  text-underline-offset: 6px;
  text-decoration-color: rgba(89, 93, 102, 0.5);
  transition: text-decoration-color 0.2s ease-out;
}

a:hover {
  text-decoration-color: rgba(89, 93, 102, 1);
}

p strong {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--white-color);
}

.text-primary {
  color: var(--primary-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.text-branding-primary {
  color: var(--primary-color);
}

.text-branding-secondary {
  color: var(--secondary-color);
}

.text-branding-tertiary {
  color: var(--tertiary-color);
}

.text-branding-dark-tertiary {
  color: var(--dark-tertiary-color);
}

.text-grey {
  color: var(--grey-color);
}

.text-light-grey {
  color: var(--light-grey-color);
}