{% capture full_title -%}
{%- if title -%}
{{ title }} – Open Home Foundation
{%- else -%}
Open Home Foundation
{%- endif-%} 
{%- endcapture %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ full_title }}" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/about">About us</a>
        </li>
        <li>
          <a href="/project">Project & members</a>
        </li>
        <li>
          <a href="/news">News</a>
        </li>
      </ul>
    </nav>
    <div class="content">{{ content }}</div>

    <footer>Footer</footer>
  </body>
</html>
