html {
  --white-color: #ffffff;
  --light-grey-color: #edeced;
  --grey-color: #9ca0ab;
  --dark-grey-color: #595d66;
  --dark-blue-color: #09293b;
  --light-blue-color: #18bcf2;
  --red-color: #dc5956;
  --green-color: #c8dd69;

  --primary-color: var(--light-blue-color);
  --secondary-color: var(--red-color);
  --tertiary-color: var(--green-color);

  --on-primary-color: var(--light-color);
  --on-secondary-color: var(--light-color);
  --on-tertiary-color: var(--dark-color);

  --primary-text-color: var(--dark-blue-color);
  --secondary-text-color: var(--dark-grey-color);
  --primary-background-color: var(--white-color);
  --secondary-background-color: var(--light-grey-color);

  color: var(--primary-text-color);
  /* font-family: Biotif; */
}

/* Typography */
.big-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.big-subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pre-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-medium {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-large {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-small {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.link-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}
