<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-header">
        <a href="/" aria-label="Open Home Foundation" class="logo">
          {% include 'svg/open-home-foundation-logo.svg' %}
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About us</a>
          </li>
          <li>
            <a href="/organization/">How we are organized</a>
          </li>
          <li>
            <a href="/projects/">Project & members</a>
          </li>
          <li>
            <a href="/user-research-agreement/">User research agreement</a>
          </li>
          <li>
            <a href="/organization/#support-our-work">Support us</a>
          </li>
        </ul>
      </div>
      <div class="footer-actions">
        <div class="footer-action">
          <p>Contact us</p>
          <a href="mailto:hello@openhomefoundation.org" class="button button-outline contact-us"
            >hello@openhomefoundation.org</a
          >
        </div>
        <div class="footer-action">
          <p>Follow us</p>
          <div class="social-links">
            <a
              aria-label="View Open Home Foundation on GitHub"
              href="https://github.com/openhomefoundation"
              target="_blank"
              rel="noopener noreferrer"
              class="button button-icon button-outline"
            >
              {% include 'svg/github.svg' %}
            </a>
            <a
              aria-label="View Open Home Foundation on Linkedin"
              href="https://www.linkedin.com/company/openhomefoundation/"
              target="_blank"
              rel="noopener noreferrer"
              class="button button-icon button-outline"
            >
              {% include 'svg/linkedin.svg' %}
            </a>
          </div>
        </div>
        <div class="footer-action">
          <p>Subscribe to the newsletter</p>
          <a
            href="https://newsletter.openhomefoundation.org/#/portal/signup"
            target="_blank"
            rel="noopener noreferrer"
            class="button button-outline"
          >
            {% include 'svg/inbox.svg' %}
            Subscribe
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright © Open Home Foundation</p>
        <span></span>
        <p><strong>Open Home Foundation</strong> | CHE-416.988.952</p>
      </div>
    </div>
  </div>
</div>
