<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-header">
        <a href="/">
          <img
            class="logo"
            src="/assets/images/logo-dark.svg"
            alt="Open Home Foundation"
          >
        </a>
        <ul>
          <li>
            <a href="/about/">About us</a>
          </li>
          <li>
            <a href="/organization/">How we are organized</a>
          </li>
          <li>
            <a href="/project/">Project & members</a>
          </li>
          <li>
            <a href="/project/">Support us</a>
          </li>
        </ul>
      </div>
      <div class="footer-actions">
        <div class="footer-action">
          <p>Contact us</p>
          <a href="mailto:hello@openhomefoundation.org" class="button button-outline contact-us"
            >hello@openhomefoundation.org</a
          >
        </div>
        <div class="footer-action">
          <p>Follow us</p>
          <div class="social-links">
            <a href="" class="button button-icon button-outline">
              <svg width="19" height="19" viewBox="0 0 19 19">
                <path d="M6.32045 15.2988C6.32045 15.3773 6.23282 15.4402 6.12234 15.4402C5.99661 15.452 5.90899 15.3891 5.90899 15.2988C5.90899 15.2202 5.99661 15.1573 6.1071 15.1573C6.22139 15.1455 6.32045 15.2084 6.32045 15.2988ZM5.1356 15.122C5.10893 15.2006 5.18513 15.2909 5.29942 15.3145C5.39848 15.3538 5.51277 15.3145 5.53563 15.2359C5.55849 15.1573 5.4861 15.067 5.37181 15.0316C5.27275 15.0041 5.16227 15.0434 5.1356 15.122ZM6.81953 15.0552C6.70905 15.0827 6.63285 15.1573 6.64428 15.2477C6.65571 15.3263 6.75476 15.3773 6.86906 15.3498C6.97954 15.3223 7.05574 15.2477 7.04431 15.1691C7.03288 15.0945 6.93001 15.0434 6.81953 15.0552ZM9.32637 0C4.04219 0 0 4.13703 0 9.58629C0 13.9433 2.65924 17.6718 6.4576 18.984C6.94525 19.0744 7.11669 18.764 7.11669 18.5086C7.11669 18.265 7.10526 16.9214 7.10526 16.0963C7.10526 16.0963 4.43841 16.6856 3.87837 14.9255C3.87837 14.9255 3.44405 13.7823 2.81925 13.4876C2.81925 13.4876 1.9468 12.8708 2.8802 12.8826C2.8802 12.8826 3.82884 12.9611 4.35078 13.8962C5.18513 15.4127 6.58332 14.9766 7.12812 14.7173C7.21575 14.0887 7.46339 13.6526 7.73769 13.3933C5.60802 13.1497 3.45929 12.8315 3.45929 9.05197C3.45929 7.97155 3.74884 7.42937 4.3584 6.7379C4.25935 6.48253 3.93552 5.42961 4.45746 4.07024C5.25371 3.81487 7.08622 5.13102 7.08622 5.13102C7.84817 4.91101 8.66728 4.79707 9.47877 4.79707C10.2903 4.79707 11.1094 4.91101 11.8713 5.13102C11.8713 5.13102 13.7038 3.81094 14.5001 4.07024C15.022 5.43354 14.6982 6.48253 14.5991 6.7379C15.2087 7.4333 15.5821 7.97548 15.5821 9.05197C15.5821 12.8433 13.3381 13.1458 11.2084 13.3933C11.5589 13.7037 11.8561 14.293 11.8561 15.2163C11.8561 16.5403 11.8446 18.1786 11.8446 18.5007C11.8446 18.7561 12.0199 19.0665 12.5037 18.9761C16.3135 17.6718 18.8966 13.9433 18.8966 9.58629C18.8966 4.13703 14.6106 0 9.32637 0ZM3.70312 13.5505C3.65359 13.5897 3.66502 13.6801 3.72979 13.7548C3.79074 13.8176 3.87837 13.8451 3.9279 13.794C3.97742 13.7548 3.96599 13.6644 3.90123 13.5897C3.84027 13.5269 3.75265 13.4994 3.70312 13.5505ZM3.29166 13.2322C3.26499 13.2833 3.30309 13.3462 3.37929 13.3854C3.44024 13.4247 3.51644 13.4129 3.54311 13.3579C3.56978 13.3069 3.53168 13.244 3.45548 13.2047C3.37929 13.1811 3.31833 13.1929 3.29166 13.2322ZM4.52603 14.6309C4.46508 14.6819 4.48794 14.7998 4.57556 14.8745C4.66319 14.9648 4.77367 14.9766 4.8232 14.9137C4.87273 14.8627 4.84987 14.7448 4.77367 14.6702C4.68986 14.5798 4.57556 14.568 4.52603 14.6309ZM4.09172 14.0533C4.03076 14.0926 4.03076 14.1948 4.09172 14.2851C4.15267 14.3755 4.25554 14.4148 4.30507 14.3755C4.36602 14.3244 4.36602 14.2223 4.30507 14.1319C4.25173 14.0416 4.15267 14.0023 4.09172 14.0533Z"/>
              </svg>
            </a>
            <a href="" class="button button-icon button-outline">
              <svg width="19" height="19" viewBox="0 0 19 19">
                <path d="M4.12421 19H0.304339V6.31467H4.12421V19ZM2.21222 4.58428C0.990747 4.58428 0 3.54095 0 2.28132C8.74275e-09 1.67628 0.233072 1.09602 0.647943 0.668184C1.06281 0.240353 1.6255 0 2.21222 0C2.79893 0 3.36162 0.240353 3.77649 0.668184C4.19136 1.09602 4.42443 1.67628 4.42443 2.28132C4.42443 3.54095 3.43327 4.58428 2.21222 4.58428ZM18.4207 19H14.6091V12.8249C14.6091 11.3532 14.5803 9.46586 12.6231 9.46586C10.6371 9.46586 10.3327 11.0648 10.3327 12.7188V19H6.51697V6.31467H10.1806V8.04507H10.234C10.744 7.04839 11.9897 5.99658 13.8483 5.99658C17.7142 5.99658 18.4249 8.62187 18.4249 12.0318V19H18.4207Z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-action">
          <p>Subscribe to the newsletter</p>
          <a href="mailto:hello@openhomefoundation.org" class="button button-outline">
            <svg width="18" height="18" viewBox="0 0 18 18">
              <path
                d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V13H13C12.5 13.6333 11.9042 14.125 11.2125 14.475C10.5208 14.825 9.78333 15 9 15C8.21667 15 7.47917 14.825 6.7875 14.475C6.09583 14.125 5.5 13.6333 5 13H2V16ZM9 13C9.63333 13 10.2083 12.8167 10.725 12.45C11.2417 12.0833 11.6 11.6 11.8 11H16V2H2V11H6.2C6.4 11.6 6.75833 12.0833 7.275 12.45C7.79167 12.8167 8.36667 13 9 13Z"
              />
            </svg>
            Subscribe
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright © 2024 Open Home Foundation</p>
        <p><strong>Open Home Foundation</strong> | 6345 Neuheim</p>
      </div>
    </div>
  </div>
</div>
