<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-header">
        <a href="/">
          <img
            class="logo"
            src="/assets/images/logo/open-home-foundation-dark.svg"
            alt="Open Home Foundation"
          >
        </a>
        <ul>
          <li>
            <a href="/about/">About us</a>
          </li>
          <li>
            <a href="/organization/">How we are organized</a>
          </li>
          <li>
            <a href="/projects/">Project & members</a>
          </li>
          <li>
            <a href="/project/">Support us</a>
          </li>
        </ul>
      </div>
      <div class="footer-actions">
        <div class="footer-action">
          <p>Contact us</p>
          <a href="mailto:hello@openhomefoundation.org" class="button button-outline contact-us"
            >hello@openhomefoundation.org</a
          >
        </div>
        <div class="footer-action">
          <p>Follow us</p>
          <div class="social-links">
            <a
              href="https://github.com/openhomefoundation"
              target="_blank"
              rel="noopener noreferrer"
              class="button button-icon button-outline"
            >
              {% include 'svg/github.svg' %}
            </a>
            <a
              href="https://www.linkedin.com/company/openhomefoundation/"
              target="_blank"
              rel="noopener noreferrer"
              class="button button-icon button-outline"
            >
              {% include 'svg/linkedin.svg' %}
            </a>
          </div>
        </div>
        <div class="footer-action">
          <p>Subscribe to the newsletter</p>
          <a
            href="https://building.open-home.io/#/portal/signup"
            target="_blank"
            rel="noopener noreferrer"
            class="button button-outline"
          >
            {% include 'svg/inbox.svg' %}
            Subscribe
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright © 2024 Open Home Foundation</p>
        <p><strong>Open Home Foundation</strong> | 6345 Neuheim</p>
      </div>
    </div>
  </div>
</div>
