<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-bar">
      <a href="/" class="logo-link">
        <img
          class="logo"
          src="/assets/images/logo.svg"
          alt="Open Home Foundation"
        >
      </a>
      <ul class="menu">
        <li class="menu-item {% if page.url == '/' %}active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="menu-item {% if page.url == '/about/' %}active{% endif %}">
          <a href="/about/">About us</a>
        </li>
        <li class="menu-item {% if page.url == '/organization/' %}active{% endif %}">
          <a href="/organization/">How we are organized</a>
        </li>
        <li class="menu-item {% if page.url == '/project/' %}active{% endif %}">
          <a href="/project/">Project & members</a>
        </li>
      </ul>
      <a href="" class="button">Support us</a>
      <button class="menu-button" id="navbar-menu-button" aria-haspopup="true" aria-controls="navbar-menu">
        <svg width="16" height="11" viewBox="0 0 16 11">
          <path d="M1 1.63797H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M1 5.63797H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M1 9.63797H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <ul class="navbar-menu" id="navbar-menu" role="menu" aria-labelledby="navbar-menu-button">
      <li class="navbar-menu-item {% if page.url == '/' %}active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/about/' %}active{% endif %}">
        <a href="/about/">About us</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/organization/' %}active{% endif %}">
        <a href="/organization/">How we are organized</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/project/' %}active{% endif %}">
        <a href="/project/">Project & members</a>
      </li>
      <li class="navbar-menu-item">
        <a href="/">Support us</a>
      </li>
    </ul>
  </div>
</div>
