<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-bar">
      <a href="/" class="logo-link">
        <img
          class="logo"
          src="/assets/images/logo/open-home-foundation.svg"
          alt="Open Home Foundation"
        >
      </a>
      <ul class="menu">
        <li class="menu-item {% if page.url == '/' %}active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="menu-item {% if page.url == '/about/' %}active{% endif %}">
          <a href="/about/">About us</a>
        </li>
        <li class="menu-item {% if page.url == '/organization/' %}active{% endif %}">
          <a href="/organization/">How we are organized</a>
        </li>
        <li class="menu-item {% if page.url == '/projects/' %}active{% endif %}">
          <a href="/projects/">Projects & members</a>
        </li>
        <li class="menu-item">
          <a href="https://newsletter.openhomefoundation.org/" target="_blank">News</a>
        </li>
      </ul>
      <a href="/organization/#support-our-work" class="button">Support us</a>
      <button class="menu-button" id="navbar-menu-button" aria-haspopup="true" aria-controls="navbar-menu" aria-label="Toggle menu">
        {% include 'svg/menu.svg' %}
      </button>
    </div>
    <ul class="navbar-menu" id="navbar-menu" role="menu" aria-labelledby="navbar-menu-button">
      <li class="navbar-menu-item {% if page.url == '/' %}active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/about/' %}active{% endif %}">
        <a href="/about/">About us</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/organization/' %}active{% endif %}">
        <a href="/organization/">How we are organized</a>
      </li>
      <li class="navbar-menu-item {% if page.url == '/project/' %}active{% endif %}">
        <a href="/projects/">Projects & members</a>
      </li>
      <li class="navbar-menu-item">
        <a href="https://newsletter.openhomefoundation.org/" target="_blank">News</a>
      </li>
      <li class="navbar-menu-item">
        <a href="/organization/#support-our-work">Support us</a>
      </li>
    </ul>
  </div>
</div>
