/* How we are funded section */

#about-intro {
  padding-top: 250px;
  padding-bottom: 160px;
}

#about-intro .content h1 strong {
  font-weight: inherit;
  text-decoration: underline;
}

#about-intro .content {
  color: var(--light-grey-color);
}
