/* User research agreement section */

#agreement-intro {
  padding-top: 150px;
  padding-bottom: 50px;
}

#agreement-intro .text-slider {
  display: inline-block;
  height: 1.8em;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
}

#agreement-intro h1 {
  font-family: Biotif;
  font-size: 56px;
  line-height: 1.1;
  padding: 0 16px;
  font-weight: 600;
}

@media (max-width: 767px) {
  #agreement-intro h1 {
    margin-left: -24px;
    margin-right: -24px;
    font-size: 56px;
  }
}

#agreement-intro .text-slider ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  animation-name: text-slider;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

#agreement-intro .text-slider ul li {
  display: block;
  line-height: 1.5em;
  text-align: center;
}

@keyframes text-slider {
  0%,
  20% {
    transform: translateY(0);
    margin: 0 -30px;
  }
  25%,
  45% {
    transform: translateY(-20%);
    margin: 0 -20px;
  }
  50%,
  70% {
    transform: translateY(-40%);
    margin: 0;
  }
  75%,
  95% {
    transform: translateY(-60%);
    margin: 0 -20px;
  }
  100% {
    transform: translateY(-80%);
    margin: 0 -30px;
  }
}

#agreement-rights{
  padding-bottom: 64px;
}

#agreement-rights .item {
  gap: 24px 0;
}

#agreement-rights .item {
  align-items: center;
  margin-bottom: 0px;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  height: 100%;
  overflow: hidden;
}

#agreement-rights .item.primary {
  border-color: var(--primary-text-color);
}
#agreement-rights .item.secondary {
  border-color: var(--secondary-color);
}
#agreement-rights .item.tertiary {
  border-color: var(--dark-tertiary-color);
}

#agreement-rights .item img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

@media (min-width: 768px) {
  #agreement-rights .item:nth-child(2n + 1) > img:first-child {
    order: 1;
  }
  #agreement-rights .item img {
    height: 100%;
  }
}