#news-header {
  padding-top: 200px;
  padding-bottom: 160px;
  color: var(--light-grey-color);
}

#news-header p {
  font-size: 32px;
  font-weight: 500;
}

#post {
  padding-top: 120px;
  padding-bottom: 120px;
}

#post .header-image {
  width: 100%;
  margin-bottom: 120px;
  border-radius: 16px;
}

#post .date {
  color: var(--grey-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 128px;
}

#post .date:after {
  display: block;
  content: "";
  height: 1px;
  width: 45px;
  background-color: var(--grey-color);
  margin: 16px auto;
}

#post .content {
  margin-bottom: 128px;
}

#post .content p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}

#post .content h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 60px;
}

#post .content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 32px;
}

#post .content lite-youtube,
#post .content img,
#post .content picture {
  width: 100%;
  margin-bottom: 32px;
  display: block;
  margin-top: 32px;
  border-radius: 16px;
}

#post .author {
  padding-top: 32px;
  border-top: 1px solid var(--secondary-text-color);
  text-align: right;
}

#post .author .name {
  color: var(--primary-text-color);
}

#post .author .role {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 400;
}
