/* Intro section */

#intro {
  padding-top: 200px;
  padding-bottom: 20px;
}

#intro .announcement {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border-radius: 60px;
  background: rgba(9, 41, 59, 0.2);
  color: var(--light-grey-color);
  font-family: Biotif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

#intro p {
  font-family: Biotif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Principles section */

#principles {
  padding-top: 80px;
  padding-bottom: 100px;
}

/* Work section */

#work {
  padding-top: 100px;
  padding-bottom: 50px;
}

#work .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

#work .project {
  display: flex;
  height: 92px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--light-grey-color);
  background: rgba(237, 236, 237, 0.2);
}

/* Collaborations section */

#collaborations {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Support us section */
#support-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

#support-us .logo {
  width: 90px;
  height: 90px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 80px;
}

#support-us .card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-background-color);
  padding: 40px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  #support-us .card {
    padding: 90px;
  }
}

/* Support us section */
#news-block {
  padding-top: 100px;
  padding-bottom: 100px;
}

#news-block .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(237, 236, 237, 0.5);
  background: rgba(237, 236, 237, 0.1);
  gap: 64px;
}

@media (min-width: 768px) {
  #news-block .card {
    flex-direction: row;
  }
}

#news-block .card .image img {
  width: 100%;
  border-radius: 8px;
  object-fit: contains;
}

#news-block .card .content {
  text-align: left;
  color: var(--light-grey-color);
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 16px;
}

#news-block .card .date {
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

#news-block .card .title {
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(237, 236, 237, 0.5);
}

#news-block .card .description {
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
