/* Intro section */

#intro {
  padding-top: 200px;
  padding-bottom: 20px;
}

#intro .announcement-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro .announcement {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  border-radius: 60px;
  background: rgba(9, 41, 59, 0.2);
  margin: auto;
  color: var(--light-grey-color);
  font-family: Biotif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 96px;
  text-decoration: none;
  text-align: center;
}

#intro .intro-content {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro .intro-content p {
  font-family: Biotif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  #intro .intro-content {
    grid-column-end: span 6;
    grid-column-start: 4;
  }
}

/* Principles section */

#principles {
  padding-top: 80px;
  padding-bottom: 100px;
}

#principles h2 {
  margin-bottom: 64px;
}

#principles .card {
  border-radius: 16px;
  background: rgba(237, 236, 237, 0.7);
  overflow: hidden;
  text-align: center;
  grid-column: span 6;
}

#principles .card .card-header {
  background: var(--light-grey-color);
  padding: 32px;
}

#principles .card .card-header img {
  margin-bottom: 16px;
}

#principles .card .card-content {
  padding: 52px 32px;
  color: var(--secondary-text-color);
  /* Body */
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  #principles .card {
    grid-column: span 4;
  }
}

/* Work section */

#work {
  padding-top: 100px;
  padding-bottom: 50px;
}

#work h2 {
  margin-bottom: 64px;
}

#work .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
}

@media (min-width: 768px) {
  #work .grid-item {
    grid-column-end: span 6;
    grid-column-start: 4;
  }
}

/* Collaborations section */

#collaborations {
  padding-top: 100px;
  padding-bottom: 50px;
}

#collaborations h2 {
  margin-bottom: 48px;
}

#collaborations p {
  margin-bottom: 32px;
}

#collaborations .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
}

@media (min-width: 768px) {
  #collaborations .grid-item {
    grid-column-end: span 6;
    grid-column-start: 4;
  }
}

/* Support us section */
#support-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

#support-us .logo {
  width: 90px;
  height: 90px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  margin-bottom: 32px;
  border-radius: 80px;
}

#support-us h2 {
  margin-bottom: 32px;
}

#support-us p {
  margin-bottom: 32px;
}

#support-us .card {
  grid-column: span 12;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-background-color);
  padding: 40px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  #support-us .card {
    grid-column-end: span 8;
    grid-column-start: 3;
    padding: 90px;
  }
}
