/* Intro section */

#intro {
  padding-top: 200px;
  padding-bottom: 20px;
}

#intro .announcement {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  border-radius: 60px;
  border: 1px solid transparent;
  background: rgba(9, 41, 59, 0.2);
  color: var(--light-grey-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition:
    border-color 180ms ease-in-out,
    background-color 180ms ease-in-out;
  outline: none;
}

#intro span {
  flex: 1;
}

#intro .announcement:focus-visible,
#intro .announcement:hover {
  border-color: var(--light-grey-color);
  background-color: rgba(9, 41, 59, 0.3);
}

#intro p {
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: 768px) {
  #intro p {
    font-size: 32px;
  }
}

/* Principles section */

#principles {
  padding-top: 80px;
  padding-bottom: 100px;
}

#principles .card .card-header svg {
  fill: var(--primary-color);
}

#principles .card .card-header.secondary svg {
  fill: var(--secondary-color);
}

#principles .card .card-header.tertiary svg {
  fill: var(--tertiary-color);
}

/* Work section */

#work {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

#work .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

#work .main-projects {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 24px;
}

#work .main-projects img {
  margin: 32px;
  height: 50px;
  width: auto;
}

#work .main-projects a {
  transition: transform 180ms ease-in-out;
  outline: none;
}

#work .main-projects a:hover,
#work .main-projects a:focus-visible {
  transform: scale(1.05);
}

#work .projects-container {
  margin: 32px -24px 64px -24px;
}

#work .projects {
  --swiper-wrapper-transition-timing-function: linear;
}

@media (min-width: 768px) {
  #work .projects {
    mask-image: linear-gradient(to right,
        transparent 0%,
        black 10% 90%,
        transparent 100%);
  }
}

#work .project {
  position: relative;
  display: flex;
  padding: 16px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  color: var(--light-grey-color);
  font-family: Biotif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid var(--light-grey-color);
  background: rgba(237, 236, 237, 0.3);
  width: auto;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s;
}

#work .project:hover,
#work .project:focus-visible {
  background-color: rgba(9, 41, 59, 0.5);
  border: 1px solid var(--grey-color);
}

/* Collaborations section */

#collaborations {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Support us section */
#support-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

#support-us .logo {
  width: 90px;
  height: 90px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 80px;
}

#support-us .card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-background-color);
  padding: 40px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  #support-us .card {
    padding: 90px;
  }
}

/* Support us section */
#news-block {
  padding-top: 100px;
  padding-bottom: 100px;
}

#news-block .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(237, 236, 237, 0.5);
  background: rgba(237, 236, 237, 0.1);
  gap: 64px;
}

@media (min-width: 768px) {
  #news-block .card {
    flex-direction: row;
  }
}

#news-block .card .image img {
  width: 100%;
  border-radius: 8px;
  object-fit: contains;
}

#news-block .card .content {
  text-align: left;
  color: var(--light-grey-color);
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 16px;
}

#news-block .card .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

#news-block .card .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(237, 236, 237, 0.5);
}

#news-block .card .description {
  font-size: 16px;
  font-weight: 300;
}