/* How we are funded section */

#how-we-are-funded {
  padding-top: 200px;
  padding-bottom: 80x;
}

#how-we-are-funded h1 {
  font-size: 56px;
}

@media (min-width: 768px) {
  #how-we-are-funded h1 {
    font-size: 64px;
  }
}

#how-we-are-funded p {
  width: 100%;
}

#how-we-are-funded .read-more {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 300;
}

#how-we-are-funded .read-more a {
  text-decoration: underline;
  color: inherit;
}

/* Support our work section */

#support-our-work {
  padding-top: 100px;
  padding-bottom: 80px;
}

#support-our-work .cards {
  align-items: center;
}

@media (min-width: 768px) {
  #support-our-work .card:nth-child(2) {
    order: -1;
  }
}

/* Supporters */
#supporters h2 {
  margin: 0;
}

#supporters h2+p {
  font-size: 18px;
  margin-top: 1rem;
  text-wrap: balance;
}

#supporters .supporters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 3rem;
  margin-top: 2rem;
}

#supporters .supporters .supporter {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#supporters .supporters .supporter .supporter-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 108px;
  border-bottom: 1px solid #09293B;
  padding-bottom: 1rem;
  width: 100%;
}

#supporters .supporters .supporter .supporter-name {
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: .25rem;
}

#supporters .supporters .supporter .supporter-badge {
  background-color: #EDECED;
  border-radius: 40px;
  font-size: 12px;
  line-height: 1;
  padding: 5px 12px;
}

#supporters .supporters .supporter .supporter-info {
  text-align: center;
  color: #595D66;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  #supporters h2+p {
    font-size: 24px;
  }

  #supporters .supporters {
    margin-top: 4rem;
  }
}

/* Board members */

#board-members {
  padding-top: 100px;
  padding-bottom: 80px;
}

#board-members .button {
  align-self: center;
  justify-self: center;
}

#board-members .member-card {
  border-radius: 16px;
  border: 1px solid var(--light-grey-color);
  background: rgba(237, 236, 237, 0.3);
  padding: 64px 0;
}

#board-members .members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 22px;
  grid-template-columns: repeat(2, 1fr);
}

#board-members .member {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  padding-bottom: 24px;
  max-width: 220px;
  min-width: 120px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(237, 236, 237, .7);
  height: -webkit-fill-available;
  height: fill-available;
}

#board-members .member .name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

#board-members .member .role {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-text-color);
}

#board-members .member img {
  width: 100%;
  aspect-ratio: 218/265;
  object-fit: cover;
  margin-bottom: 20px;
  z-index: 1;
}

#board-members .member svg {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 0;
  max-width: 196px;
}

@media (min-width: 768px) {
  #board-members .members {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FAQ section */

#faq {
  padding-top: 100px;
  padding-bottom: 36px;
}

#faq h2 {
  color: var(--on-dark-color);
}

#faq .question {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}

#faq .answer {
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 300;
}

#faq .answer p {
  margin-bottom: 16px;
}