/* How we are funded section */

#how-we-are-funded {
  padding-top: 200px;
  padding-bottom: 160px;
}

#how-we-are-funded .content h1 {
  margin-bottom: 64px;
}

#how-we-are-funded .content {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  #how-we-are-funded .content {
    grid-column: 2 / span 10;
  }
}

/* Support our work section */

#support-our-work {
  padding-bottom: 160px;
}

#support-our-work h2 {
  margin-bottom: 64px;
}

#support-our-work .cards {
  align-items: center;
}

#support-our-work .card {
  grid-column: span 6;
}

@media (min-width: 768px) {
  #support-our-work .card {
    grid-column: span 4;
  }
}

/* Structure section */

#structure {
  padding-bottom: 160px;
}

#structure h2 {
  margin-bottom: 64px;
}

#structure .content {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  #structure .content {
    grid-column: 2 / span 10;
  }
}

/* Board members */

#board-members {
  padding-bottom: 160px;
}

#board-members h2 {
  margin-bottom: 64px;
}

#board-members .member-card {
  border-radius: 16px;
  border: 1px solid var(--light-grey-color);
  background: rgba(237, 236, 237, 0.3);
  padding: 64px 0;
}

#board-members .content {
  grid-column: 2 / span 4;
}

@media (min-width: 768px) {
  #board-members .content {
    grid-column: 2 / span 10;
  }
}

#board-members .members {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  gap: 16px;
}

#board-members .member {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#board-members .member .name {
  text-align: center;
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#board-members .member .role {
  text-align: center;
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--secondary-text-color);
}

#board-members .member img {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #board-members .members {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* FAQ section */

#faq {
  padding-top: 100px;
  padding-bottom: 36px;
}

#faq h2 {
  margin-bottom: 64px;
  color: var(--on-dark-color);
}

#faq .grid-item {
  grid-column: span 12;
}

#faq .question {
  color: var(--primary-color);
  font-family: Biotif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#faq .answer {
  color: var(--grey-color);
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#faq .grid {
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  #faq .grid-item {
    grid-column: span 6;
  }
}
