#project-intro {
  padding-top: 250px;
  padding-bottom: 150px;
}

#project-intro p {
  font-family: Biotif;
  font-size: 32px;
  font-weight: 500;
  color: var(--light-grey-color);
}

#projects {
  padding-top: 100px;
  padding-bottom: 100px;
}

#projects p {
  font-size: 24px;
  font-weight: 300;
  color: var(--light-grey-color);
}

#projects .project-card {
  padding: 64px 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  background: rgba(237, 236, 237, 0.3);
  height: 100%;
}

#projects .project-card p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

#projects .project-card img {
  height: 36px;
  margin-bottom: 24px;
}

#projects .project-card .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

#collabs {
  padding-top: 100px;
  padding-bottom: 100px;
}

#collabs p {
  font-size: 24px;
  font-weight: 300;
  color: var(--light-grey-color);
}

#collabs .collab-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px -24px;
  --swiper-wrapper-transition-timing-function: linear;
}


#collabs .collab-card {
  padding: 48px 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  background: rgba(237, 236, 237, 0.3);
  height: 100%;
}

@media (min-width: 768px) {
  #collabs .collab-card {
    width: 420px;
  }
}

#collabs .collab-card p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

#collabs .collab-card img {
  height: 64px;
  margin-bottom: 32px;
}

#standards {
  padding-top: 100px;
  padding-bottom: 100px;
}

#standards p {
  font-size: 24px;
  font-weight: 300;
  color: var(--light-grey-color);
}

#standards .standard-card {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--grey-color);
  background: rgba(237, 236, 237, 0.3);
  height: 100%;
  color: var(--light-grey-color);
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s;
}

#standards .standard-card h3 {
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

#standards .standard-card>svg {
  position: absolute;
  right: 32px;
  top: 32px;
  pointer-events: none;
}

#standards .standard-card p {
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}

#standards .standard-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#standards .standard-card .tags>span {
  display: flex;
  padding: 8px 12px 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--dark-grey-color);

  color: var(--light-grey-color);
  font-family: Biotif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#standards .standard-card .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
}

#standards .standard-card.link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#standards .standard-card:hover,
#standards .standard-card:focus-visible {
  background-color: rgba(9, 41, 59, 0.5);
  border: 1px solid var(--grey-color);
}