/* Supporters section */
#supporters {
  padding-top: 150px;
  padding-bottom: 50px;
}

#supporters h1 {
  font-family: Biotif;
  font-size: 56px;
  line-height: 1.1;
  padding: 0 16px;
  font-weight: 600;
}

#supporters .standard-card {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(237, 236, 237, 0.5);
  background: rgba(237, 236, 237, 0.3);
  height: 100%;
  color: var(--light-grey-color);
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s;
}

#supporters .standard-card .supporter-logo {
  margin-bottom: 30px;
}


@media (min-width: 768px) {
  #supporters .standard-card .supporter-logo {
    margin-bottom: 58px;
  }
}


#supporters .standard-card h3 {
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--dark-blue-color);
  margin-bottom: 16px;
}

#supporters .standard-card>svg {
  position: absolute;
  right: 32px;
  top: 32px;
  pointer-events: none;
}

#supporters .standard-card>svg #arrow_outward_2,
#supporters .standard-card>svg rect {
  fill: var(--dark-blue-color);
}


#supporters .standard-card p {
  font-family: Biotif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
  color: var(--dark-grey-color);
}

#supporters .standard-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#supporters .standard-card .tags>span {
  display: flex;
  padding: 8px 12px 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--dark-grey-color);

  color: var(--light-grey-color);
  font-family: Biotif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#supporters .standard-card .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
}

#supporters .standard-card.link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#supporters .standard-card:hover,
#supporters .standard-card:focus-visible {
  background: rgba(237, 236, 237, 0.6);
}

#supporters p.subtitle,
#powering-our-mission p.subtitle {
  color: var(--dark-grey-color);
  font-size: 24px;
  font-weight: 300;
}

#powering-our-mission .project {
  position: relative;
  display: flex;
  padding: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  color: var(--dark-blue-color);
  font-family: Biotif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid var(--light-grey-color);
  background: rgba(237, 236, 237, 0.3);
  width: auto;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s;
}

#powering-our-mission .project span {
  flex-grow: 1;
}

#powering-our-mission .project>svg #arrow_outward_2,
#powering-our-mission .project>svg rect {
  fill: var(--dark-blue-color);
}