.button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 16px;
  flex-wrap: wrap;
  border-radius: 80px;
  border: none;
  width: auto;
  cursor: pointer;
  font-family: Biotif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.button.button-icon {
  width: 52px;
  height: 52px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}

.button-tertiary {
  background-color: var(--tertiary-color);
  color: var(--on-tertiary-color);
}

.button-outline {
  background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.button-outline-light {
  background-color: transparent;
  color: var(--on-dark-color);
  border: 1px solid var(--on-dark-color);
}
