.button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 16px;
  flex-wrap: wrap;
  border-radius: 80px;
  border: none;
  width: auto;
  cursor: pointer;
  font-family: Biotif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  transition:
    background-color 180ms ease-in-out,
    color 180ms ease-in-out;
  outline: none;

  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--primary-color);
}
.button:focus-visible,
.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button.button-icon {
  width: 52px;
  height: 52px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  border-color: var(--secondary-color);
}
.button-secondary:focus-visible,
.button-secondary:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

.button-tertiary {
  background-color: var(--tertiary-color);
  color: var(--on-tertiary-color);
  border-color: var(--tertiary-color);
}
.button-tertiary:focus-visible,
.button-tertiary:hover {
  background-color: transparent;
  color: var(--tertiary-color);
}

.button-outline {
  background-color: transparent;
  color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}
.button-outline:focus-visible,
.button-outline:hover {
  background-color: var(--primary-text-color);
  color: var(--secondary-background-color);
  border-color: var(--primary-text-color);
}

.button-outline-light {
  background-color: transparent;
  color: var(--light-grey-color);
  border-color: var(--light-grey-color);
}
.button-outline-light:focus-visible,
.button-outline-light:hover {
  background-color: var(--light-grey-color);
  color: var(--dark-blue-color);
  border-color: var(--light-grey-color);
}

.button-dark-blue {
  background-color: var(--dark-blue-color);
  color: var(--light-grey-color);
  border-color: var(--dark-blue-color);
}
.button-dark-blue:focus-visible,
.button-dark-blue:hover {
  background-color: transparent;
  color: var(--dark-blue-color);
}
