.footer {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  min-height: 300px;
}

.footer-content {
  padding: 40px 32px;
}

.footer-header {
  border-bottom: 1px solid var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 16px;
  margin-bottom: 48px;
}

.footer-header .logo {
  height: 40px;
}

.footer-header a.logo svg {
  height: 40px;
  width: auto;
  color: var(--primary-text-color);
  transition: color 120ms ease-in-out;
}

.footer-header a.logo {
  outline: none;
}

.footer-header a.logo:hover svg,
.footer-header a.logo:focus-visible svg {
  color: var(--primary-color);
}

.footer-header ul li a {
  color: var(--primary-text-color);
  outline: none;
}

.footer-header ul li a:hover,
.footer-header ul li a:focus-visible {
  color: var(--secondary-text-color);
}

@media (min-width: 768px) {
  .footer-header {
    flex-direction: row;
  }

  .footer-header .logo {
    margin-right: 72px;
    height: 40px;
  }
}

.footer-header ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-header ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.footer-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 48px 16px;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-actions {
    flex-direction: row;
  }
}

.footer-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.footer-action p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer-action .contact-us {
  text-transform: inherit;
}

.footer-action .social-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  font-size: 12px;
  font-weight: 300;
  gap: 8px 32px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
  }

  .footer-bottom>* {
    flex: 1;
  }
}