.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  width: 100%;
  padding: 0;
  margin: auto;
  transition: padding 120ms ease-in-out;
  z-index: 1000;
}

.navbar {
  margin: auto;
  display: flex;
  flex-direction: column;
  background: rgba(237, 236, 237, 0.9);
  background-blend-mode: screen;
  width: 100%;
  margin: auto;
  backdrop-filter: blur(10px);
  border-radius: 0px 0px;
}

.navbar .navbar-bar {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.navbar .navbar-bar .logo {
  display: block;
  width: 124px;
  transition: height 120ms ease-in-out;
}

.navbar .navbar-bar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 16px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.navbar .navbar-bar .menu .menu-item a {
  position: relative;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Biotif;
  font-size: 12px;
  font-weight: 300;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
}

.navbar .navbar-bar .menu .menu-item a:after {
  display: block;
  height: 2px;
  border-radius: 2px;
  width: 100%;
  background: var(--primary-text-color);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 180ms ease-in-out;
}

.navbar .navbar-bar .menu .menu-item a:focus-visible:after {
  opacity: 1;
}

.navbar .navbar-bar .menu .menu-item.active a {
  font-weight: 600;
}

.navbar .navbar-bar .button {
  font-family: Biotif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  padding: 8px 32px;
}

.navbar .navbar-bar .menu {
  display: none;
}

.navbar .navbar-bar .button {
  display: none;
}

.navbar .navbar-bar .menu-button {
  display: flex;
  padding: 16px;
  margin: -16px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu.expanded {
  display: flex;
}

.navbar-menu-item {
  width: 100%;
}

.navbar-menu-item a {
  display: block;
  color: var(--primary-text-color);
  padding: 16px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.navbar-menu-item.active a {
  font-weight: 600;
}

@media (min-width: 1010px) {
  .navbar-container {
    padding: 0 24px;
  }

  .navbar {
    border-radius: 0px 0px 16px 16px;
  }

  .navbar .navbar-bar .menu {
    display: flex;
  }

  .navbar .navbar-bar .button {
    display: flex;
  }

  .navbar .navbar-bar .menu-button {
    display: none;
  }
}