---
layout: base
title: About us
description: About the Open Home Foundation
---

<div class="bg-gradient-about-header">
  <section id="about-intro">
    <div class="container">
      <div class="poly">{% include 'svg/poly/poly.svg' %}</div>
      <div class="grid">
        <div class="content col-s-12 col-m-8 col-m-offset-3">
          <h1 class="text-center mb-64">
            Your
            <span class="text-slider">
              <ul>
                <li>open</li>
                <li>smart</li>
                <li>private</li>
                <li>______</li>
                <li>open</li>
              </ul>
            </span>
            home
          </h1>
          <p class="text-center">
            A home is a sanctuary. A place of refuge.
            <br />
            A place free from danger—and free from prying eyes. A home is where
            you can be yourself without compromising your data, your ideals,
            your behavior, or your independence.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="about-quote">
    <div class="container">
      <div class="column text-center">
        <p class="quote mb-64">
          I want to make it clear what our intentions are to the world: That
          we're driven by a higher goal than money. And that we are not for
          sale.
        </p>
        <div class="author">
          <p class="name">Paulus Schoutsen</p>
          <p class="role">Inaugural Board President</p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-branding-primary">
  <section id="story">
    <div class="container">
      <div class="title">
        <h2>Our story</h2>
        {% include 'svg/home-mask.svg' %}
      </div>
      <div class="content">
        <div class="part-1">
          <span class="line"></span>
          <p>
            The Open Home Foundation represents a new chapter in a journey that
            started in 2013, when the founder of
            <strong>Home Assistant</strong>, <strong> Schoutsen</strong>, wrote
            a few lines of Python to take control of his Philips Hue smart
            lights.
          </p>
          <div class="initial-commit">
            <img src="/assets/images/initial-commit.png" />
            {% include 'svg/home-mask.svg' %}
            <span class="dot-1"></span>
            <span class="dot-2"></span>
          </div>
          <p>
            Initially, all Schoutsen wanted was greater control of the devices
            he’d purchased—rather than letting a corporate giant decide what was
            best for his home.
            <br />
            <br />
            It was a simple act. But it struck a chord.
            <br />
            <br />
            Over the coming years, thousands of mostly volunteer contributors
            transformed that first script into a leading smart home platform.
            And then they built an entire ecosystem of projects around it.
          </p>
          <div class="values">
            <div class="value">{% include 'svg/privacy.svg' %}</div>
            <div class="value">{% include 'svg/choice.svg' %}</div>
            <div class="value">{% include 'svg/sustainability.svg' %}</div>
          </div>
          <div class="foundation">{% include 'svg/foundation.svg' %}</div>
        </div>
        <div class="part-2">
          <div class="tree">{% include 'svg/tree.svg' %}</div>
          <div class="text">
            <p>
              Something far more troubling also took place: The smart home
              landscape grew increasingly dominated by Big Tech—whose purpose is
              to constantly sell you something new, while siphoning off your
              personal data for financial gain.
              <br />
              <br />
              This destructive change brought into focus the importance of
              privacy, choice, and sustainability. Principles that in 2021,
              Schoutsen and others called the building blocks of
              <u><strong>the open home</strong></u
              >.
              <br />
              <br />
              In fact, Nabu Casa had already been fighting for the idea,
              alongside support for critical open standards—like Zigbee, Z-Wave,
              and Matter—for the past few years.
              <br />
              <br />
              But by 2023, this core group of smart home developers realized it
              was time to <strong>codify and protect their ideals</strong>. And
              it was time to create a formal home for the projects they and so
              many other contributors had poured their souls, beliefs, and
              shared code into.
              <br />
              <br />
              Their individual efforts needed to be united. So in 2024 they
              created the Open Home Foundation to unite them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-secondary">
  <section id="values">
    <div class="container">
      <h2 class="text-center mb-64">Our values are all about you</h2>
      <p class="text-center mb-96">
        The Open Home Foundation’s projects, support, and advocacy stand in
        stark contrast to the smart home alternative driven by surveillance
        capitalism. You should never be the product—whether the products or
        services you use are free or paid.
      </p>
      <p class="text-center big-subtitle mb-48">
        We stand for a world where you can:
      </p>
      <div class="grid item primary">
        <img class="col-s-12 col-m-6" src="/assets/images/values/privacy.jpg" />
        <div class="col-s-12 col-m-6 p-32">
          <h3 class="text-branding-primary mb-24">
            Live your life.<br />
            Because nobody is watching.
          </h3>
          <p class="text-secondary">
            <strong>You do you, and nobody else</strong>
            <br />
            With local control of your data, you choose what you want to do, how
            you want to live, and who you really are. Everything from the shows
            you watch, to when you watch them, the services you use, to how you
            use them, and the people you meet, to what you do with them—should
            never be influenced by uncertainty about who knows what.
            <br /><br />
            Only share what you want, with whom you want, for as long as you
            want. You hold the keys to your data, so nobody else can compel you
            to trade personal information for smart home functionality.
          </p>
        </div>
      </div>
      <div class="grid item secondary">
        <img class="col-s-12 col-m-6" src="/assets/images/values/choice.jpg" />
        <div class="col-s-12 col-m-6 p-32">
          <h3 class="text-branding-secondary mb-24">
            Design your smart home<br />
            the way you like it.
          </h3>
          <p class="text-secondary">
            <strong>Mix, match, and combine devices however you want</strong>
            <br />
            With local APIs, open standards, and community development, you
            choose the design of your smart home as you imagine it—not as some
            corporate interest does. One company’s battery-powered, Bluetooth
            temperature sensor to help automate another company’s bathroom fan?
            A video feed of your bird feeder that you can keep local thanks to
            an open communication standard? A personal voice assistant that
            doesn’t phone home? No problem.
            <br /><br />
            The only limits are your imagination for connecting devices, your
            drive to tinker, and the creativity of helpful communities.
          </p>
        </div>
      </div>
      <div class="grid item tertiary">
        <img
          class="col-s-12 col-m-6"
          src="/assets/images/values/sustainability.jpg"
        />
        <div class="col-s-12 col-m-6 p-32">
          <h3 class="text-branding-tertiary mb-24">
            Consume less,<br />
            so you can save more.
          </h3>
          <p class="text-secondary">
            <strong>
              Save stuff from the dump, save money—and reduce your impact
            </strong>
            <br />
            With the ability to repurpose old hardware, you won’t have to toss a
            perfectly functioning device just because there’s a newer model.
            With the insight to see the amount of water or energy you’re
            using—and details on when, and how—you can automate your smart home
            to cut your utility bills, and reduce your carbon footprint. All in
            one fell swoop.
            <br /><br />
            Sustainability is a big word, with a lot of meanings. You decide
            what it means to your life, and we’ll help you achieve it.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-gradient-about-closing">
  <section id="about-conclusion">
    <div class="container">
      <div class="grid mb-64">
        <div class="content col-s-12 col-m-6 start">
          <div class="poly" style="left: -50%; top: -50%">{% include 'svg/poly/poly-about-final.svg' %}</div>
          <h3 class="content-title mb-64">This is what we’ve done</h3>
          <p>
            We have created a bulwark against surveillance capitalism, the risk
            of buyout, and open-source projects becoming abandonware. The Open
            Home Foundation has done this by taking ownership of over
            <strong>
              240 smart home projects, standards, drivers, and libraries.
            </strong>
            For the people and organizations who have transferred projects to
            the Open Home Foundation, this protection even extends against their
            future selves—so that smart home users will continue to benefit for
            years, if not decades. No matter what the future brings.
            <br /><br />
            But the work of the Open Home Foundation doesn’t stop there. Through
            close partnership with <strong>Nabu Casa</strong>, the foundation
            funds, directs resources to, and collaborates on the development of
            external projects that can be used by anyone, like Z-Wave JS, WLED,
            Rhasspy, and Zigbee2MQTT.
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="content col-s-12 col-m-6 col-m-offset-7 end">
          <h3 class="content-title mb-64">Our ambitions go further</h3>
          <p>
            The Open Home Foundation aims to one day have the resources to be an
            active political advocate. We aim to educate the public and public
            servants, and the companies making smart home devices and services,
            about the value of <strong>open standards</strong>,
            <strong>open-source projects</strong>, and <strong>privacy</strong>,
            <strong>choice</strong>, and <strong>sustainability</strong> when it
            comes to the future of smart homes.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
