---
layout: base
---

<div class="bg-gradient-home">
  <section id="intro">
    <div class="container">
      <div class="poly">{% include 'svg/poly/poly-thin.svg' %}</div>
      <div class="grid">
        <div class="column col-s-12 col-m-offset-3 col-m-8">
          <a
            href="/blog/announcing-the-open-home-foundation/"
            class="announcement mb-96"
          >
            {% include 'svg/mark-email-unread.svg' %}
            <span>
              Announcing the Open Home Foundation | From the creators of Home
              Assistant
            </span>
            {% include 'svg/arrow-small.svg' %}
          </a>
          <p class="text-center mb-32 p-16">
            The <strong>Open Home Foundation</strong> fights for the fundamental
            principles of <strong>privacy</strong>, <strong>choice</strong>, and
            <strong>sustainability</strong> for smart homes. And for every
            person who lives in one. It does this by supporting the development
            of open-source projects, and open connectivity and communication
            standards.
          </p>
          <a
            href="/about/"
            class="button button-outline"
            aria-label="Learn more about the principles"
          >
            Learn more {% include 'svg/arrow.svg' %}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="principles">
    <div class="container">
      <h2 class="text-center mb-64">Our principles</h2>
      <div class="cards grid">
        <div class="card col-s-12 col-m-4">
          <div class="card-header primary">
            {% include 'svg/privacy.svg' %}
            <h3>Privacy</h3>
            <p>Control your personal data.</p>
          </div>
          <div class="card-content">
            <p>
              Share only what you want. With whom you want. Without modifying
              your behavior because of an algorithm. To ensure privacy, smart
              home devices must work locally, and cloud services must be
              optional and opt-in.
            </p>
          </div>
        </div>
        <div class="card col-s-12 col-m-4">
          <div class="card-header secondary">
            {% include 'svg/choice.svg' %}
            <h3>Choice</h3>
            <p>Mix and match devices.</p>
          </div>
          <div class="card-content">
            <p>
              Across manufacturers. Without vendor lock-in, or arbitrary
              barriers to interoperability. To ensure user choice, devices and
              the management of data they gather should operate via open
              standards and local APIs.
            </p>
          </div>
        </div>
        <div class="card col-s-12 col-m-4">
          <div class="card-header tertiary">
            {% include 'svg/sustainability.svg' %}
            <h3>Sustainability</h3>
            <p>Repurpose your hardware.</p>
          </div>
          <div class="card-content">
            <p>
              And reduce your environmental impact. To ensure sustainability,
              devices must be built for durability, open to modification, and
              part of a system providing tools to track, automate, and reduce
              waste and emissions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-linear-gradient-dark-blue">
  <section id="work">
    <div class="container">
      <div class="grid">
        <div class="col-s-12 col-m-6 col-m-offset-4">
          <h2 class="text-center text-branding-primary mb-64">Our work</h2>
          <p class="text-center text-grey p-16 mb-32">
            The Open Home Foundation owns and governs over
            <strong
              >240 open-source projects, standards, drivers, and
              libraries</strong
            >
            like <i>Home Assistant</i>, <i>ESPHome</i>, <i>Zigpy</i>, <i>Piper</i>, and more. <br /><br />
            In the future, we aim to play a greater role as a political advocate
            for smart home privacy, choice, and sustainability.
          </p>
        </div>
      </div>
      <div class="main-projects">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.home-assistant.io/"
          aria-label="Vist Home Assistant website"
        >
          <img
            src="/assets/images/logo/home-assistant.svg"
            alt="Home Assistant"
          />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://esphome.io/"
          aria-label="Vist ESPHome website"
        >
          <img src="/assets/images/logo/esphome.svg" alt="ESPHome" />
        </a>
      </div>
      <div class="projects-container">
        <div class="projects swiper mb-32">
          <div class="swiper-wrapper">
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/rhasspy/wyoming"
            >
              <span>Wyoming</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://bthome.io/"
            >
              <span>BTHome</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.improv-wifi.com/"
            >
              <span>Improv Wi-Fi</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/zigpy/zigpy"
            >
              <span>Zigpy</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/home-assistant-libs/python-matter-server"
            >
              <span>Python Matter Server</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/rhasspy/piper"
            >
              <span>Piper</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://esphome.github.io/esp-web-tools/"
            >
              <span>ESP Web Tools</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
            <a
              class="project swiper-slide"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/home-assistant-libs/pychromecast"
            >
              <span>PyChromecast</span>
              {% include 'svg/arrow_outward.svg' %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <a
        href="/projects/#projects"
        class="button"
        aria-label="See more projects"
        >See more</a
      >
    </div>
  </section>
  <section id="collaborations">
    <div class="container">
      <div class="poly">{% include 'svg/poly/poly-home-collabs.svg' %}</div>
      <div class="grid">
        <div class="column col-s-12 col-m-6 col-m-offset-4">
          <h2 class="text-center text-branding-primary mb-32">Our collabs</h2>
          <p class="text-center text-grey mb-32 p-16">
            Thanks to support from our partner <strong>Nabu Casa</strong>, we also collaborate on
            external member projects that align with our principles. These
            include <i>Z-Wave JS</i>, <i>WLED</i>, <i>Rhasspy</i>, and <i>Zigbee2MQTT</i>.
          </p>
          <a
            class="button"
            href="/projects/#collabs"
            aria-label="Learn more about what we do"
          >
            Learn more
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="support-us">
    <div class="container">
      <div class="grid">
        <div class="card col-s-12 col-m-8 col-m-offset-3">
          <div class="logo mb-32">
            {% include 'svg/foundation-support.svg' %}
          </div>
          <h2 class="mb-32">Support us</h2>
          <p class="mb-32 text-secondary">
            Our work is primarily supported through subscriptions to Home
            Assistant Cloud, and by your contributions to open-source projects
            aligned with our principles.
          </p>
          <a
            class="button button-secondary"
            href="/organization/#support-our-work"
          >
            Join the fight
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="news-block">
    <div class="container">
      <h2 class="text-center text-light-grey mb-64">More news</h2>
      <div class="card">
        <a
          class="image"
          href="/blog/announcing-the-open-home-foundation/"
          aria-label="View the announcement blog post"
        >
          <img
            src="/assets/images/blog/announcing-the-open-home-foundation-header.jpg"
            alt="Open Home Foundation, privacy, choice and sustainability for smart homes"
          />
        </a>
        <div class="content">
          <p class="date">Saturday, April 20, 2024</p>
          <p class="title">Blog: Announcing the Open Home Foundation</p>
          <p class="mb-32">
            Actions speak louder than words. Which is why we created the Open
            Home Foundation to secure the radical principles of privacy, choice,
            and sustainability for smart homes. Read more...
          </p>
          <a
            class="button button-icon button-outline-light"
            href="/blog/announcing-the-open-home-foundation/"
            aria-label="View the announcement blog post"
          >
            {% include 'svg/arrow.svg' %}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/assets/js/index.js" defer></script>
