---
layout: base
description: How we are organized
---

<div class="bg-gradient-organization">
  <section id="how-we-are-funded">
    <div class="container">
      <div class="grid">
        <div class="column col-s-12 col-m-10 col-m-offset-2">
          <h1 class="text-center mb-64">How we are organized</h1>
          <p class="text-secondary">
            The Open Home Foundation is a non-profit organization funded by
            partner fees, and supported via non-financial resources like IT
            infrastructure, and employees dedicated to projects that align with
            the Open Home Foundation principles of privacy, choice, and
            sustainability. It does not accept individual donations.
            <br /><br />
            Nabu Casa is the inaugural, and currently, only partner of the Open
            Home Foundation, though future partners will have the same
            responsibilities and fees. This newly defined relationship means the
            majority of Nabu Casa’s revenue goes towards supporting the Open
            Home Foundation. What this looks like: Nabu Casa employs over 30
            people, most of whom work full-time on Open Home Foundation projects
            and external collabs.
            <br /><br />
            The board of the Open Home Foundation, working with a partner,
            determines how fees and non-financial resources are directed. For
            instance, instead of a partner directly giving money beyond its
            partner fee to the Open Home Foundation, the board may secure an
            agreement for that partner to pay the full-time salary of someone
            working on what we think is a critical smart home project. Even if
            that project is not owned by the Open Home Foundation, such as the
            open-source Z-Wave JS library.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="support-our-work">
    <div class="container">
      <h2 class="text-center mb-64">How you can support our work</h2>
      <div class="cards grid">
        <div class="card col-s-12 col-m-4">
          <div class="card-header">
            <p>Contribute to an open-source project</p>
          </div>
          <div class="card-content">
            <p>
              There’s no need to go through the Open Home Foundation to
              contribute code, translations, designs, or documentation to any of
              our projects. Or even a project that isn’t ours—as long as it is
              maintained in the service of smart home privacy, choice, and
              sustainability.
              <br /><br />
              Keep an eye out for our open calls for priority projects that need
              extra help. Or support a maintainer’s work directly through a
              GitHub sponsorship page, Ko-fi, or any other sponsorship platform.
            </p>
            <a
              href="https://github.com/openhomefoundation"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
            >
              Check out our projects
            </a>
          </div>
        </div>
        <div class="card col-s-12 col-m-4">
          <div class="card-header">
            <p>Purchase something from our partner</p>
          </div>
          <div class="card-content">
            <p>
              Instead of a small donation, we encourage you to subscribe to Home
              Assistant Cloud, from Nabu Casa. Your subscription helps fund Nabu
              Casa’s partnership fee, and pays the salaries of people working on
              Open Home Foundation projects and collaborations.
            </p>
            <a
              href="https://nabucasa.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
            >
              Subscribe
            </a>
          </div>
        </div>
        <div class="card col-s-12 col-m-4">
          <div class="card-header">
            <p>Get in touch about collaborating</p>
          </div>
          <div class="card-content">
            <p>
              If you’re a large organization interested in making a significant
              donation to the <strong>Open Home Foundation</strong>, one of our
              projects, or in support of smart home privacy, choice, or
              sustainability—get in touch, and let’s see what we can do
              together.
            </p>
            <a href="mailto:hello@openhomefoundation.org" class="button">
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="board-members">
    <div class="container">
      <div class="member-card">
        <div class="grid">
          <div class="content col-s-10 col-s-offset-2">
            <h2 class="text-center mb-32">Board members</h2>
            <p class="text-center text-secondary mb-64">
              We are driven by a set of ideas. Aiming to uphold Open Home
              Foundation ideals, support smart home projects, standards,
              drivers, and libraries—and secure the future of the open home for
              everyday users.
            </p>
            <div class="members">
              <div class="member">
                <img
                  src="/assets/images/members/paulus.png"
                  alt="Paulus Schoutsen"
                />
                <p class="name">Paulus Schoutsen</p>
                <p class="role">President</p>
                {% include 'svg/home-mask.svg' %}
              </div>
              <div class="member">
                <img src="/assets/images/members/guy.png" alt="Guy Sie" />
                <p class="name">Guy Sie</p>
                <p class="role">Secretary</p>
                {% include 'svg/home-mask.svg' %}
              </div>
              <div class="member">
                <img
                  src="/assets/images/members/pascal.png"
                  alt="Pascal Vizeli"
                />
                <p class="name">Pascal Vizeli</p>
                <p class="role">Treasurer</p>
                {% include 'svg/home-mask.svg' %}
              </div>
              <div class="member">
                <img
                  src="/assets/images/members/nick.png"
                  alt="J. Nick Koston"
                />
                <p class="name">J. Nick Koston</p>
                <p class="role">Member</p>
                {% include 'svg/home-mask.svg' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-dark-blue">
  <section id="faq">
    <div class="container">
      <h2 class="mb-64">FAQ</h2>
      <div class="grid mb-48">
        <div class="question col-s-12 col-m-5">
          <p>Why this structure, and why Switzerland?</p>
        </div>
        <div class="answer col-s-12 col-m-7">
          <p>
            How best to support the future of the open home was a question
            without a definitive answer. Our founders looked for inspiration
            from other organizations defending our digital rights. They
            eventually settled on moving ownership of projects to a non-profit
            Verein (“association”) supported by for- and non-profit partners.
            For a low-overhead, international organization like ours, this
            structure represented the best chance to accomplish the foundation’s
            goals.
          </p>
          <p>
            Our founding board chose to locate the Open Home Foundation in
            Switzerland because of the country’s strict adherence to the rule of
            law, long history supporting privacy and democracy, and fierce
            political independence. Switzerland is forward-looking when it comes
            to intellectual property, reverse-engineering, and the use of APIs
            for interoperability.
          </p>
          <p>
            Are there other models, and other countries, which would have
            worked? Of course! But after long consideration we believe we made
            the right choices to pull off this pretty radical, pretty idealistic
            project.
          </p>
        </div>
      </div>
      <div class="grid mb-48">
        <div class="question col-s-12 col-m-5">
          <p>
            Does a partner profit when I buy something from them—even if all I
            care about is supporting the Open Home Foundation?
          </p>
        </div>
        <div class="answer col-s-12 col-m-7">
          <p>Yes. Absolutely.</p>
          <p>
            This is one of the compromises involved in the structure we’ve
            chosen, the size of our organization, and the rules that pertain to
            how we are allowed to handle funding.
          </p>
          <p>
            In the case of Nabu Casa, our inaugural partner, this isn’t a
            significant change from how things worked before the creation of the
            Open Home Foundation. It only formalizes the relationship.
          </p>
        </div>
      </div>
      <div class="grid mb-48">
        <div class="question col-s-12 col-m-5">
          <p>Is Nabu Casa’s relationship to the Open Home Foundation unique?</p>
        </div>
        <div class="answer col-s-12 col-m-7">
          <p>
            Mainly in terms of its track record. And as the inaugural partner of
            the Open Home Foundation.
          </p>
          <p>
            Nabu Casa is a for-profit company. But since it was founded in 2018
            by some of the same people involved with the Open Home Foundation,
            it has stewarded the cause of Home Assistant without commercializing
            the open-source project itself. For years, a significant portion of
            Nabu Casa’s revenue has been used to pay the salaries of people
            working on numerous open-source, open home-aligned projects.
          </p>
          <p>
            What’s new is that the Open Home Foundation now officially owns Home
            Assistant—and Nabu Casa, as an Open Home Foundation partner, is
            required to contribute funding and non-financial resources to the
            foundation.
          </p>
        </div>
      </div>
      <div class="grid mb-48">
        <div class="question col-s-12 col-m-5">
          <p>Will there be other partners?</p>
        </div>
        <div class="answer col-s-12 col-m-7">
          <p>
            Nabu Casa is the first partner of the Open Home Foundation, but
            hopefully not the last. We welcome other organizations with a proven
            track record, and the willingness to commit their resources, to
            consider partnering with the Open Home Foundation.
          </p>
          <p>
            (And hey, if you’re still not sure you want to support our
            for-profit partner to support us—don’t. Contribute directly to one
            of our projects, or a project that matches our smart home ideals—or
            yours! That’s totally in line with our ethos. This idea is bigger
            than just us. Or any single project.)
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
