---
layout: base
title: Projects & Members of the Open Home Foundation
---

<div class="bg-gradient-project">
  <section id="project-intro">
    <div class="container">
      <div class="poly">{% include 'svg/poly/poly-thin.svg' %}</div>
      <div class="grid">
        <div class="col-s-12 col-m-6 col-m-offset-4">
          <p class="text-center">
            We are a community of communities.<br />
            Only as strong as our partners, projects, and contributors.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="projects">
    <div class="container">
      <div class="grid">
        <div class="col-s-12 col-m-8 col-m-offset-3">
          <h2 class="text-center text-branding-primary mb-48">Projects</h2>
          <p class="text-center mb-48">
            It’s the DNA from our central projects—full-scale software we own
            and oversee development of—that gave rise to the idea of the Open
            Home Foundation in the first place. These are our headline efforts.
            But also, just the beginning.
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="col-s-12 col-m-6">
          <div class="project-card">
            <img
              src="/assets/images/logo/home-assistant.svg"
              alt="Home Assistant"
            />
            <p>
              Home Assistant is an open-source, home automation platform that
              puts local control and privacy first. It is powered by a worldwide
              community of tinkerers and DIY enthusiasts, and exists to put
              users in control of their homes, their data, and their personal
              well-being.
            </p>
            <div class="actions">
              <a
                href="https://www.home-assistant.io/"
                target="_blank"
                rel="noopener noreferrer"
                class="button"
                aria-label="Learn mode about Home Assistant"
              >
                Learn more
              </a>
              <a
                href="https://github.com/home-assistant/"
                target="_blank"
                rel="noopener noreferrer"
                class="button button-icon button-dark-blue"
                aria-label="View Home Assistant on Github"
                >{% include 'svg/github.svg' %}</a
              >
            </div>
          </div>
        </div>
        <div class="col-s-12 col-m-6">
          <div class="project-card">
            <img src="/assets/images/logo/esphome.svg" alt="ESPHome" />
            <p>
              ESPHome is a system to control ESP8266, ESP32, and other
              microcontrollers to empower makers to repurpose or create custom
              smart home devices. It’s based on simple, yet powerful low-code
              configuration files, and is compatible with Home Assistant and
              other home automation systems. It also works as a standalone
              system.
            </p>
            <div class="actions">
              <a
                href="https://esphome.io/"
                target="_blank"
                rel="noopener noreferrer"
                class="button"
                aria-label="Learn mode about ESPHome"
              >
                Learn more
              </a>
              <a
                href="https://github.com/esphome/"
                target="_blank"
                rel="noopener noreferrer"
                class="button button-icon button-dark-blue"
                aria-label="View ESPHome on Github"
                >{% include 'svg/github.svg' %}</a
              >
            </div>
          </div>
        </div>
        <div class="col-s-12 col-m-6 col-m-offset-4">
          <div class="project-card">
            <img
              src="/assets/images/logo/music-assistant.svg"
              alt="Music Assistant"
            />
            <p>
              Music Assistant is a music library manager for your offline and
              online music sources, which can easily stream your favourite music
              to a wide range of supported players. It becomes incredibly
              powerful when combined with Home Assistant!
            </p>
            <div class="actions">
              <a
                href="https://www.music-assistant.io/"
                target="_blank"
                rel="noopener noreferrer"
                class="button"
                aria-label="Learn mode about Music Assistant"
              >
                Learn more
              </a>
              <a
                href="https://github.com/music-assistant/"
                target="_blank"
                rel="noopener noreferrer"
                class="button button-icon button-dark-blue"
                aria-label="View Music Assistant on Github"
                >{% include 'svg/github.svg' %}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="collabs">
    <div class="container">
      <div class="grid">
        <div class="col-s-12 col-m-8 col-m-offset-3">
          <h2 class="text-center text-branding-primary mb-48">Collabs</h2>
          <p class="text-center mb-48">
            These are external projects the Open Home Foundation collaborates
            on—but doesn’t own. We love what their teams are doing, and think
            their success is critically important to promoting privacy, choice,
            and sustainability in the smart home space. Our main requirement is
            that they remain open to everyone. Not just us.
          </p>
        </div>
      </div>
      <div class="collab-container swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide collab-card">
            <img src="/assets/images/logo/rhasspy.svg" alt="Rhasspy logo" />
            <p>
              Rhasspy is an open-source, fully offline, private voice assistant.
              It can be used with many human languages, and works with numerous
              protocols and home automation platforms and services. Thanks to
              the Open Home Foundation, Michael Hansen, the creator of Rhasspy,
              can work on the project full time.
            </p>
            <a
              href="https://community.rhasspy.org/"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              aria-label="Learn mode about Rhasspy"
              >Learn more</a
            >
          </div>
          <div class="swiper-slide collab-card">
            <img src="/assets/images/logo/wled.svg" alt="WLED logo" />
            <p>
              WLED is an ESP-based webserver to control digital LEDs over Wi-Fi.
              It supports over a dozen light control interfaces, including
              standalone apps for Android and iOS. It is a feature-rich project,
              with a modern user interface, over-the-air updates, and support
              for addressable RGBW strips. The Open Home Foundation owns ESP Web
              Tools, which powers the WLED web installer, making the project
              more accessible for more people.
            </p>
            <a
              href="https://kno.wled.ge/"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              aria-label="Learn mode WLED"
              >Learn more</a
            >
          </div>
          <div class="swiper-slide collab-card">
            <img
              src="/assets/images/logo/zigbee2mqtt.svg"
              alt="Zigbee2MQTT logo"
            />
            <p>
              Zigbee2MQTT is a bridge that allows you to control Zigbee devices
              without the vendor’s proprietary bridge or gateway. It is an open
              system that allows users to integrate devices with any smart home
              infrastructure they want, as long as it supports the lightweight
              MQTT messaging protocol.
            </p>
            <a
              href="https://www.zigbee2mqtt.io/"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              aria-label="Learn mode about Zigbee2MQTT"
              >Learn more</a
            >
          </div>
          <div class="swiper-slide collab-card">
            <img src="/assets/images/logo/zwavejs.svg" alt="Z-WaveJS logo" />
            <p>
              Z-Wave JS is an open-source Z-Wave device driver, supported by a
              small team of smart home enthusiasts. Thanks to resources directed
              to the project by the Open Home Foundation, Dominic Griesel is
              employed to work on Z-Wave JS on a full-time basis.
            </p>
            <a
              href="https://zwave-js.github.io/node-zwave-js/"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              aria-label="Learn mode about ZWaveJS"
              >Learn more</a
            >
          </div>
          <div class="swiper-slide collab-card">
            <img
              src="/assets/images/logo/micro-wake-word.svg"
              alt="microWakeWord logo"
            />
            <p>
              microWakeWord is an open-source wakeword library for detecting
              custom wake words on low power devices. It produces models that
              are suitable for using TensorFlow Lite for Microcontrollers. The
              models are suitable for real-world usage with low false accept and
              false reject rates.
            </p>
            <a
              href="https://github.com/kahrendt/microWakeWord"
              target="_blank"
              rel="noopener noreferrer"
              class="button"
              aria-label="Learn mode about microWakeWord"
              >Learn more</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="standards">
    <div class="container">
      <div class="grid">
        <div class="col-s-12 col-m-8 col-m-offset-3">
          <h2 class="text-center text-white mb-48">
            Standards, drivers, and libraries
          </h2>
          <p class="text-center mb-48">
            The Open Home Foundation owns and governs over 250 open standards,
            drivers, and libraries that support the realization of the open
            home. Some are small projects to solve simple problems. Others
            represent major efforts to create open standards, prevent vendor
            lock-in, and protect privacy. Many are being used well beyond the
            smart home space. And we’re pretty proud of that.
          </p>
        </div>
      </div>
      <div class="grid mb-64">
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/rhasspy/wyoming"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>Wyoming</h3>
            <p>Peer-to-peer protocol for voice assistants.</p>
            <div class="tags">
              <span>Open standard</span>
              <span>Voice</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://bthome.io/"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>BTHome</h3>
            <p>
              Open standard for broadcasting sensor data and button presses over
              Bluetooth LE.
            </p>
            <div class="tags">
              <span>Open standard</span>
              <span>Bluetooth</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.improv-wifi.com/"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>Improv Wi-Fi</h3>
            <p>
              Open standard for connecting devices to Wi-Fi using Bluetooth LE
              or Serial.
            </p>
            <div class="tags">
              <span>Open standard</span>
              <span>Wi-Fi</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/zigpy/zigpy"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>Zigpy</h3>
            <p>
              Hardware independent Zigbee integration that implements Zigbee as
              a Python library.
            </p>
            <div class="tags">
              <span>Driver</span>
              <span>Zigbee</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/home-assistant-libs/python-matter-server"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>Python Matter Server</h3>
            <p>Matter Controller Server implementation over WebSockets.</p>
            <div class="tags">
              <span>Driver</span>
              <span>Matter</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/rhasspy/piper"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>Piper</h3>
            <p>
              Local neural text-to-speech system that sounds great and is
              optimized for the Raspberry Pi 4.
            </p>
            <div class="tags">
              <span>Library</span>
              <span>Voice</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://esphome.github.io/esp-web-tools/"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>ESP Web Tools</h3>
            <p>
              User friendly tools to manage ESP8266 and ESP32 devices in a web
              browser.
            </p>
            <div class="tags">
              <span>Library</span>
              <span>ESP32</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            class="standard-card"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/home-assistant-libs/pychromecast"
          >
            {% include 'svg/arrow_outward.svg' %}
            <h3>PyChromecast</h3>
            <p>Python library for communicating with Google Chromecast.</p>
            <div class="tags">
              <span>Library</span>
            </div>
          </a>
        </div>
        <div class="col-s-12 col-m-4">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/openhomefoundation"
            class="standard-card link"
          >
            <h3>Visit us on GitHub</h3>
            <div class="actions">
              <span class="action">{% include 'svg/arrow.svg' %}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/assets/js/projects.js" defer></script>
